<% provide(:title, 'Sign In') %>
<h1>Sign In</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<form role = "form">
	<div class = "form-group">
      <label for="exampleInputEmail1" class="col-sm-2 control-label"> <%= f.label :email, "Email Address" %></label>
	  <%= f.email_field :email, :autofocus => true, :placeholder => "Enter Email" %></div>
	<div class = "form-group">
      <label for="exampleInputPassword" class="col-sm-2 control-label"> <%= f.label :password %></label>
	  <%= f.password_field :password, :placeholder => "Password" %></div>
	<div class = "form-group">
	  <% if devise_mapping.rememberable? -%>
	    <div class="checkbox" >
    	  <label>
	        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    	  </label>
  		</div>
	  <% end -%>
	</div>
  	<div class="form-group">
    
	  <div><%= f.submit "Sign in" %></div>
	
	</div>
	<div class = form-group>
		<label for "exampleOtherLinks">
		<%= render "devise/shared/links" %>
		</label>
	</div>
</form>
<% end %>