<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="Zebra/assets/javascripts/bootstrap-dropdown.js"></script>


<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Naming Zebras", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>

          <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                <% if current_user %><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a><% end %>
                  <ul class="dropdown-menu">
                    <li><a href="/users/edit">Edit Profile</a></li>
                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete if current_user %></li> 
                  </ul>
                </li>
          </ul>
          <li><%= link_to 'Sign Up', new_user_registration_path if !current_user %></li>
          <li><%= link_to 'Sign In', new_user_session_path if !current_user %></li>
        </ul>
      </nav>
    </div>
  </div>

</header>